:root {
    margin: 0;
    padding: 0;
    --main-bg-color: #000;
    --body-font-color: #FFF;
    --main-font: Inter, sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    color: var(--body-font-color);
    background-color: var(--main-bg-color);
    text-transform: uppercase;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin: 1rem;
}

h3 {
    color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin: 1rem;
}

p {
    color: #000;
    text-transform: none;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 3rem;
    padding-top: 0;
    margin: 0 auto;
    max-width: 1400px;
}

.grid-item {
    display: block;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    padding-top: 55%;
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
    filter: brightness(0.7);
}

.grid-item.image-selector img {
    filter: brightness(1);
}

.image-selector::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/svg/selector.svg");
    background-size: cover;
    opacity: 1;
}

section {
    position: sticky;
    background-color: #000;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
}

form {
    max-width: 30rem;
    padding: 2rem;
}

.control {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

input {
    width: 100%;
    border: 1px solid #FFF;
    background-color: #000;
    color-scheme: dark;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

::placeholder {
    color: #333;
    opacity: 0.3;
}

label {
    font-size: 1.5rem;
}

.form-btn {
    background-color: #FFF;
    color: #000;
    border-radius: 18px;
    border: 0;
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
    margin-top: 1rem;
    transition: background-color 150ms ease-in-out;
    text-transform: uppercase;
}

.form-btn:hover {
    background-color: #ed4eda;
}

a {
    color: #FFF;
}

.errors {
    color: #dc2626;
    list-style: none;
    margin: 1.5rem 0 0 0;
    padding: 0;
}

.errors li {
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
}

.help-btn {
    margin: 1rem;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    z-index: 1;
}

.help-btn:hover {
    filter: invert(40%) sepia(94%) saturate(2052%) hue-rotate(279deg) brightness(99%) contrast(87%);
}

#overlay {
    position: fixed; 
    display: none; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
}

.overlay:target {
    display: block; 
    opacity: 1;
}

#overlay-text {
    margin: 15rem auto;
    padding: 3rem;
    background: #fff;
    border-radius: 10px;
    width: 35rem;
    position: relative;
}

/* media screens */
@media screen and (min-width:  360px) {
    body {
        overflow-y: scroll;
    }

    h1 {
        font-size: 1.5rem;
    }

    .grid-container {
        padding: 5rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .grid-item {
        border-radius: 10px;
    }

    #overlay-text {
        width: 20rem;
        padding: 1.5rem;
        margin: 10rem auto;
    }
}

@media screen and (min-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(25% - 10px), 1fr));
        gap: 20px;
        grid-auto-rows: minmax(82px, auto);
        margin: 0 auto;
    }

    .section {
        position: relative;
    }

    #overlay-text {
        width: 35rem;
        padding: 3rem;
        margin: 20rem auto;
    }
}

@media screen and (min-width: 840px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(calc(20% - 10px), 1fr));
    }
}