:root {
    margin: 0;
    padding: 0;
    --main-bg-color: #000;
    --body-font-color: #FFF;
    --main-font: Inter, sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "";
    color: var(--body-font-color);
    background-color: var(--main-bg-color);
    text-transform: uppercase;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh;
}

.back-button {
    margin: 1rem;
    position: absolute;
    left: 0;
    top: 0;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 4rem;
}

.brand-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#text {
    
    
}

#gallery {
    max-height: 100vh;
    overflow: scroll;
}  

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    height: 120rem;  
}

.photo {
    flex: 1; /* images fill the available space evenly */
    background-repeat: repeat-x;
    background-size: contain;
}

/* svg styles */
.svg {
    width: 10rem;
    filter: invert(100%) sepia(1%) saturate(7430%) hue-rotate(290deg) brightness(125%) contrast(99%);
}

#zodiac {
    width: 5rem;
}

#logo {
    width: 20rem;
}