:root {
    margin: 0;
    padding: 0;
    --main-bg-color: #000;
    --body-font: #FFF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "";
    color: var(--body-font);
    background-color: var(--main-bg-color);
    text-transform: uppercase;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh;
}

.grid-item {
    
}

#text {
    padding: 4rem;
    
}

#gallery {
    max-height: 100vh;
    overflow: scroll;
}  

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    height: 120rem;  
}

.photo {
    flex: 1; /* images fill the available space evenly */
    background-repeat: repeat-x;
    background-size: contain;
}

.back-button {
    margin: 1rem;
}