:root {
    margin: 0;
    padding: 0;
    --main-bg-color: #000;
    --body-font-color: #FFF;
    --main-font: Inter, sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    color: var(--body-font-color);
    background: linear-gradient(90deg, #000000 0%, #282828 55.56%);
    text-transform: uppercase;
    overflow: hidden;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.6rem;
}

a {
    color: var(--body-font-color);
    font-weight: 600;
    text-underline-offset: 5px;
}

a:hover {
    color: #5b5b5b;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr; 
    height: 100vh;
}

.back-button {
    margin: 1rem;
    position: absolute;
    left: 0;
    top: 0;
}

.back-button:hover {
    filter: invert(40%) sepia(94%) saturate(2052%) hue-rotate(279deg) brightness(99%) contrast(87%);
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 6rem;
}

.brand-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#gallery {
    max-height: 100vh;
    overflow: scroll;
    overflow-x: hidden; 
    border-radius: 1rem;
}  

.gallery-content {
    display: flex;
    flex-direction: column; 
    height: 120rem;  
}

.photo {
    flex: 1; /* images fill the available space evenly */
    background-repeat: repeat-x;
    background-size: contain;
    cursor: pointer;
}

.expanded {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(5px);
}

.portrait {
    min-height: 700px;
}

.landscape {
    min-height: 400px;
}

/* svg styles */
.svg {
    width: 10rem;
    filter: invert(100%) sepia(1%) saturate(7430%) hue-rotate(290deg) brightness(125%) contrast(99%);
}

#zodiac {
    width: 5rem;
}

#logo {
    width: 20rem;
}